# Ignore Virtual Environment
env/

# Ignore Cache
__pycache__/
*.pyc
*.pyo

# Some other stuff
.DS_Store
Thumbs.db

# Mnist dataset
Classifiers/DigitsClassification/mnist.npz

# Fashion-MNIST dataset
Classifiers/Fashion-MNIST/dataset